In [1]:
import numpy as np
import pandas as pd

In [2]:
odi_df = pd.read_csv("./odi-batting.csv")
odi_df.head(10)

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57
5,Afghanistan,Mohammad Shahzad,55,07-07-2010,Wed,Sportpark Westvliet,Netherlands,63
6,Afghanistan,Mohammad Shahzad,37,09-10-2010,Sat,Gymkhana Club Ground,Kenya,46
7,Afghanistan,Mohammad Shahzad,34,09-07-2010,Fri,Hazelaarweg,Scotland,44
8,Afghanistan,Mohammad Shahzad,20,05-07-2010,Mon,VRA Ground,Kenya,22
9,Afghanistan,Mohammad Shahzad,16,30-08-2009,Sun,VRA Ground,Netherlands,28

### QUES: Which player scored the highest number of centuries?

### adding new column to determine if runs scored was century or not

In [9]:
odi_df["century"] = odi_df["Runs"].apply(lambda runs: 1 if runs >= 100 else 0)
odi_df.head(10)

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,0
5,Afghanistan,Mohammad Shahzad,55,07-07-2010,Wed,Sportpark Westvliet,Netherlands,63,0
6,Afghanistan,Mohammad Shahzad,37,09-10-2010,Sat,Gymkhana Club Ground,Kenya,46,0
7,Afghanistan,Mohammad Shahzad,34,09-07-2010,Fri,Hazelaarweg,Scotland,44,0
8,Afghanistan,Mohammad Shahzad,20,05-07-2010,Mon,VRA Ground,Kenya,22,0
9,Afghanistan,Mohammad Shahzad,16,30-08-2009,Sun,VRA Ground,Netherlands,28,0

In [10]:
odi_century_pivot_table = pd.pivot_table(odi_df, index="Player", values="century", aggfunc=np.sum)
odi_century_pivot_table

                   century
Player
Aamer Hanif              0
Aamer Malik              0
Aamir Nazir              0
Aamir Sohail             5
Aaqib Javed              0
...                    ...
Zameer Zahir             0
Zubin E Surkari          0
Zulfiqar Ali             0
Zulqarnain Haider        0
Zulquarnain              0

[1883 rows x 1 columns]

In [12]:
odi_century_pivot_table["century"].max()

48

In [15]:
odi_century_pivot_table[odi_century_pivot_table["century"] == 48]

                    century
Player
Sachin R Tendulkar       48

### QUES:
#####  The ‘strike rate’ of a batsman is defined as the (number of runs scored / number of 100 balls faced). It is a measure of ‘how fast a batsman has played’.For example, if a batsman scores 40 runs in 50 balls, the strike rate is 80 runs/100 balls.

#### Among all the innings where a century was scored by a batsman, which one has the highest strike rate?

In [16]:
odi_century_df = odi_df[odi_df["century"] == 1]
odi_century_df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127,1
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108,1

In [17]:
odi_century_df["Strike Rate"] = (odi_century_df["Runs"] * 100) / odi_century_df["Balls"]
odi_century_df.head()

/home/niranjan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,Strike Rate
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1,97.520661
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1,99.099099
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1,138.888889
62,Afghanistan,Noor Ali Zadran,114,16-02-2010,Tue,Sharjah CA Stadium,Canada,127,1,89.763780
87,Afghanistan,Karim Sadiq,114,16-08-2010,Mon,Cambusdoon New Ground,Scotland,108,1,105.555556

In [18]:
odi_century_df["Strike Rate"].max()

255.0

In [20]:
odi_century_df[odi_century_df["Strike Rate"] == 255.0]

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,Strike Rate
28157,Pakistan,Shahid Afridi,102,04-10-1996,Fri,Gymkhana Club Ground,Sri Lanka,40,1,255.0

### QUES:
#### In which year were the maximum number of centuries scored by Indian players?

In [22]:
odi_df["year"] = pd.DatetimeIndex(odi_df["MatchDate"]).year
odi_df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,year
0,Afghanistan,Mohammad Shahzad,118,16-02-2010,Tue,Sharjah CA Stadium,Canada,121,1,2010
1,Afghanistan,Mohammad Shahzad,110,01-09-2009,Tue,VRA Ground,Netherlands,111,1,2009
2,Afghanistan,Mohammad Shahzad,100,16-08-2010,Mon,Cambusdoon New Ground,Scotland,72,1,2010
3,Afghanistan,Mohammad Shahzad,82,10-07-2010,Sat,Hazelaarweg,Netherlands,108,0,2010
4,Afghanistan,Mohammad Shahzad,57,01-07-2010,Thu,Sportpark Westvliet,Canada,57,0,2010

In [33]:
odi_india_df = odi_df[odi_df["Country"] == "India"]
odi_india_df.head()

,Country,Player,Runs,MatchDate,Weekday,Ground,Versus,Balls,century,year
13601,India,Sachin R Tendulkar,200,24-02-2010,Wed,Captain Roop Singh Stadium,South Africa,147,1,2010
13602,India,Sachin R Tendulkar,186,08-11-1999,Mon,Lal Bahadur Shastri Stadium,New Zealand,150,1,1999
13603,India,Sachin R Tendulkar,175,05-11-2009,Thu,Rajiv Gandhi International Stadium,Australia,141,1,2009
13604,India,Sachin R Tendulkar,163,08-03-2009,Sun,AMI Stadium,New Zealand,133,1,2009
13605,India,Sachin R Tendulkar,152,23-02-2003,Sun,City Oval,Namibia,151,1,2003

In [34]:
century_year_pivot_table = pd.pivot_table(odi_india_df, index=["Player", "Country", "year"], values=["century"], aggfunc=np.sum)
century_year_pivot_table

                                century
Player            Country year
Aashish R Kapoor  India   1995        0
                          1996        0
Aavishkar M Salvi India   2003        0
Abey Kuruvilla    India   1997        0
Abhijit V Kale    India   2003        0
...                                 ...
Zaheer Khan       India   2007        0
                          2008        0
                          2009        0
                          2010        0
                          2011        0

[747 rows x 1 columns]

In [38]:
century_year_pivot_table["century"].max()

9

In [39]:
century_year_pivot_table[century_year_pivot_table["century"] == 9]

                                 century
Player             Country year
Sachin R Tendulkar India   1998        9