In [ ]:
# Question:
# Expected Loss
# Now, the bank wants to find the total expected loss. This is done by calculating the expected losses for each of the 10,000 customers and then adding them up.

# The data for all the customers of the bank is given in the file Inferential Statistics - Student Loan.csv. What would be the value of the total expected loss?

In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv("./Inferential Statistics - Student Loan.csv")
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00%,0.0070
1,2,0.24,5.10%,0.0033
2,3,0.04,24.86%,0.0022
3,4,13.81,2.29%,0.0066
4,5,19.84,3.47%,0.0020

In [17]:
df['Recovery (%)'] = df['Recovery (%)'].str[:-1].astype(float)
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00,0.0070
1,2,0.24,5.10,0.0033
2,3,0.04,24.86,0.0022
3,4,13.81,2.29,0.0066
4,5,19.84,3.47,0.0020

In [19]:
# PD*EAD*(1-R)
df["Expected Loss"] = df["Probability of Default"] * df["Exposure at Default (in lakh Rs.)"] * (1 - (df["Recovery (%)"] / 100))
df.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Expected Loss
0,1,11.50,20.00,0.0070,0.064400
1,2,0.24,5.10,0.0033,0.000752
2,3,0.04,24.86,0.0022,0.000066
3,4,13.81,2.29,0.0066,0.089059
4,5,19.84,3.47,0.0020,0.038303

In [20]:
df["Expected Loss"].sum()

493.39131440619997

In [2]:
# RENAMING THE COLUMNS
df1 = pd.read_csv("./Inferential Statistics - Student Loan.csv")
df1.head()

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default
0,1,11.50,20.00%,0.0070
1,2,0.24,5.10%,0.0033
2,3,0.04,24.86%,0.0022
3,4,13.81,2.29%,0.0066
4,5,19.84,3.47%,0.0020

In [4]:
df1.rename(columns = {"Recovery (%)": "Recovery"})

,Customer No.,Exposure at Default (in lakh Rs.),Recovery,Probability of Default
0,1,11.50,20.00%,0.0070
1,2,0.24,5.10%,0.0033
2,3,0.04,24.86%,0.0022
3,4,13.81,2.29%,0.0066
4,5,19.84,3.47%,0.0020
...,...,...,...,...
9995,9996,19.79,20.19%,0.0079
9996,9997,18.33,38.38%,0.0068
9997,9998,10.83,28.40%,0.0037
9998,9999,24.29,37.37%,0.0056
9999,10000,0.03,22.55%,0.0032