In [35]:
import numpy as np
import pandas as pd
from datetime import datetime

In [3]:
grades = pd.read_csv("./grades.csv")
grades.head()

                                          submission        submit_time
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...  01/03/17-20:28:52
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...  01/03/17-20:18:21
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43...  01/03/17-22:37:08
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...  01/02/17-21:43:19
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...  01/03/17-15:27:49

In [ ]:
# order['Order_Date'] = pd.to_datetime(order['Order_Date'])

# order['day'] = pd.DatetimeIndex(order["Order_Date"]).day

# grades["year"] =

In [4]:
grades['submit_time'] = pd.to_datetime(grades['submit_time'])

In [6]:
grades['day'] = pd.DatetimeIndex(grades["submit_time"]).day
grades.head()

                                          submission         submit_time  day
0  https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44... 2017-01-03 20:28:52    3
1  https://ckd.upgrad.com/UpGrad/185242ff-7508-4c... 2017-01-03 20:18:21    3
2  https://ckd.upgrad.com/UpGrad/a353d129-c100-43... 2017-01-03 22:37:08    3
3  https://ckd.upgrad.com/UpGrad/002fc912-faa1-49... 2017-01-02 21:43:19    2
4  https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f... 2017-01-03 15:27:49    3

In [7]:
grades['month'] = pd.DatetimeIndex(grades["submit_time"]).month
grades.head()

,submission,submit_time,day,month
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1

In [8]:
grades['year'] = pd.DatetimeIndex(grades["submit_time"]).year
grades.head()

,submission,submit_time,day,month,year
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017

In [9]:
grades['date'] = pd.DatetimeIndex(grades["submit_time"]).date
grades.head()

,submission,submit_time,day,month,year,date
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03

In [10]:
grades['time'] = pd.DatetimeIndex(grades["submit_time"]).time
grades.head()

,submission,submit_time,day,month,year,date,time
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49

In [13]:
grades['hour'] = pd.DatetimeIndex(grades["submit_time"]).hour
grades.head()

,submission,submit_time,day,month,year,date,time,hours,hour
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15

In [14]:
grades['minute'] = pd.DatetimeIndex(grades["submit_time"]).minute
grades.head()

,submission,submit_time,day,month,year,date,time,hours,hour,minute
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20,28
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20,18
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22,37
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21,43
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15,27

In [16]:
grades['second'] = pd.DatetimeIndex(grades["submit_time"]).second
grades.head()

,submission,submit_time,day,month,year,date,time,hours,hour,minute,second
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20,28,52
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20,18,21
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22,37,8
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21,43,19
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15,27,49

### QUES: What percentage of students submitted their solutions in .zip format?

In [20]:
grades['isZipSubmission'] = grades["submission"].apply(lambda sub: sub.find(".zip") >= 0)
grades.head(11)

,submission,submit_time,day,month,year,date,time,hours,hour,minute,second,isZipSubmission
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20,28,52,True
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20,18,21,True
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22,37,8,True
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21,43,19,True
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15,27,49,True
5,https://ckd.upgrad.com/UpGrad/0ab308ab-2b3a-4c...,2017-01-04 02:43:46,4,1,2017,2017-01-04,02:43:46,2,2,43,46,True
6,https://ckd.upgrad.com/UpGrad/ba2c249c-dac8-46...,2017-01-03 23:41:25,3,1,2017,2017-01-03,23:41:25,23,23,41,25,True
7,https://ckd.upgrad.com/UpGrad/d8969806-6760-44...,2017-01-09 23:49:09,9,1,2017,2017-01-09,23:49:09,23,23,49,9,True
8,https://ckd.upgrad.com/UpGrad/5ff1d0ab-816b-48...,2016-12-30 14:14:17,30,12,2016,2016-12-30,14:14:17,14,14,14,17,True
9,https://ckd.upgrad.com/UpGrad/0d507851-d102-47...,2017-01-03 21:18:04,3,1,2017,2017-01-03,21:18:04,21,21,18,4,False
10,https://ckd.upgrad.com/UpGrad/9a756d83-7a83-49...,2017-01-03 23:55:41,3,1,2017,2017-01-03,23:55:41,23,23,55,41,True

1.0

In [27]:
len(grades[grades["isZipSubmission"] == True])

189

In [28]:
len(grades[grades["isZipSubmission"] == True])/ len(grades.index)

0.9545454545454546

### ANS: 95%

### QUES: How many students submitted the assignment after the first deadline (including the students who submitted after the second deadline) ?

#### DeadLine: Jan 3, 2017 - 11:59:59 PM.

In [43]:
len(grades[grades["submit_time"] > "Jan 3, 2017 - 11:59:59 PM"])

44

In [44]:
len(grades[grades["submit_time"] > "Jan 3, 2017 - 11:59:59 PM"])/len(grades.index)

0.2222222222222222

In [45]:
grades.head()

,submission,submit_time,day,month,year,date,time,hours,hour,minute,second,isZipSubmission
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20,28,52,True
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20,18,21,True
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22,37,8,True
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21,43,19,True
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15,27,49,True

In [51]:
#  Jan 3, 2017 - 11:59:59 PM.
grades[(grades["day"] >= 3) & (grades["month"] >= 1) & (grades["hour"] >= 23) & (grades["minute"] >= 59) & (grades["second"] >= 59)]

Empty DataFrame
Columns: [submission, submit_time, day, month, year, date, time, hours, hour, minute, second, isZipSubmission]
Index: []

In [57]:
100 * len(grades[grades["submit_time"] > "2017-01-03 23:59:59"])/(len(grades.index))

22.22222222222222

In [56]:
grades[grades["submit_time"] > "2017-01-03 23:59:59"]

,submission,submit_time,day,month,year,date,time,hours,hour,minute,second,isZipSubmission
5,https://ckd.upgrad.com/UpGrad/0ab308ab-2b3a-4c...,2017-01-04 02:43:46,4,1,2017,2017-01-04,02:43:46,2,2,43,46,True
7,https://ckd.upgrad.com/UpGrad/d8969806-6760-44...,2017-01-09 23:49:09,9,1,2017,2017-01-09,23:49:09,23,23,49,9,True
11,https://ckd.upgrad.com/UpGrad/873211b9-5a3q-45...,2017-01-09 23:41:23,9,1,2017,2017-01-09,23:41:23,23,23,41,23,True
16,https://ckd.upgrad.com/UpGrad/f0c04fba-56d2-4a...,2017-01-04 01:43:43,4,1,2017,2017-01-04,01:43:43,1,1,43,43,True
21,https://ckd.upgrad.com/UpGrad/7cbc35aa-1d5c-4d...,2017-01-09 23:59:21,9,1,2017,2017-01-09,23:59:21,23,23,59,21,True
24,https://ckd.upgrad.com/UpGrad/a4d13ca3-9b40-40...,2017-01-04 00:04:08,4,1,2017,2017-01-04,00:04:08,0,0,4,8,True
28,https://ckd.upgrad.com/UpGrad/3f50884a-4fd0-48...,2017-01-09 23:26:15,9,1,2017,2017-01-09,23:26:15,23,23,26,15,True
29,https://ckd.upgrad.com/UpGrad/48781790-093d-42...,2017-01-04 00:03:26,4,1,2017,2017-01-04,00:03:26,0,0,3,26,True
30,https://ckd.upgrad.com/UpGrad/cc4f866d-b532-40...,2017-01-04 00:01:00,4,1,2017,2017-01-04,00:01:00,0,0,1,0,True
36,https://ckd.upgrad.com/UpGrad/9dcaaf78-bcbf-43...,2017-01-09 01:21:34,9,1,2017,2017-01-09,01:21:34,1,1,21,34,True
38,https://ckd.upgrad.com/UpGrad/b3b14536-b46b-47...,2017-02-03 04:02:28,3,2,2017,2017-02-03,04:02:28,4,4,2,28,True
40,https://ckd.upgrad.com/UpGrad/0c217b64-4160-45...,2017-01-09 23:31:05,9,1,2017,2017-01-09,23:31:05,23,23,31,5,False
41,https://ckd.upgrad.com/UpGrad/684aaf00-355c-4b...,2017-01-04 01:17:23,4,1,2017,2017-01-04,01:17:23,1,1,17,23,True
43,https://ckd.upgrad.com/UpGrad/32cb7df0-b430-48...,2017-01-17 13:56:23,17,1,2017,2017-01-17,13:56:23,13,13,56,23,False
47,https://ckd.upgrad.com/UpGrad/97727952-94cc-43...,2017-01-10 01:02:44,10,1,2017,2017-01-10,01:02:44,1,1,2,44,True
58,https://ckd.upgrad.com/UpGrad/78cfa157-4db8-41...,2017-01-09 20:47:36,9,1,2017,2017-01-09,20:47:36,20,20,47,36,True
61,https://ckd.upgrad.com/UpGrad/9683d673-64a6-43...,2017-01-04 12:10:23,4,1,2017,2017-01-04,12:10:23,12,12,10,23,True
64,https://ckd.upgrad.com/UpGrad/d8688f0b-aa39-44...,2017-01-09 23:10:56,9,1,2017,2017-01-09,23:10:56,23,23,10,56,True
78,https://ckd.upgrad.com/UpGrad/5012a86d-b5fa-4a...,2017-01-09 23:53:34,9,1,2017,2017-01-09,23:53:34,23,23,53,34,True
87,https://ckd.upgrad.com/UpGrad/1872b962-0f57-41...,2017-01-04 00:18:00,4,1,2017,2017-01-04,00:18:00,0,0,18,0,True
88,https://ckd.upgrad.com/UpGrad/1c200aba-36bb-47...,2017-01-06 20:51:29,6,1,2017,2017-01-06,20:51:29,20,20,51,29,False
90,https://ckd.upgrad.com/UpGrad/93fb305a-6bc4-4d...,2017-01-09 10:18:10,9,1,2017,2017-01-09,10:18:10,10,10,18,10,True
93,https://ckd.upgrad.com/UpGrad/a3b05347-32b0-42...,2017-01-09 03:24:36,9,1,2017,2017-01-09,03:24:36,3,3,24,36,True
99,https://ckd.upgrad.com/UpGrad/25a8fbfa-a768-43...,2017-01-04 00:19:41,4,1,2017,2017-01-04,00:19:41,0,0,19,41,True
104,https://ckd.upgrad.com/UpGrad/05d82794-8b43-45...,2017-01-08 20:03:27,8,1,2017,2017-01-08,20:03:27,20,20,3,27,True
111,https://ckd.upgrad.com/UpGrad/df0cac65-fc97-4a...,2017-01-04 00:18:49,4,1,2017,2017-01-04,00:18:49,0,0,18,49,True
118,https://ckd.upgrad.com/UpGrad/5dd7fcb0-421b-48...,2017-01-09 23:08:57,9,1,2017,2017-01-09,23:08:57,23,23,8,57,True
121,https://ckd.upgrad.com/UpGrad/a5d6ac30-19a0-47...,2017-01-09 22:43:43,9,1,2017,2017-01-09,22:43:43,22,22,43,43,True
126,https://ckd.upgrad.com/UpGrad/50c257d1-4478-4f...,2017-01-04 00:00:26,4,1,2017,2017-01-04,00:00:26,0,0,0,26,True
130,https://ckd.upgrad.com/UpGrad/41a44412-2f48-44...,2017-01-09 23:30:12,9,1,2017,2017-01-09,23:30:12,23,23,30,12,True
131,https://ckd.upgrad.com/UpGrad/21bcabf3-0d26-49...,2017-01-08 23:47:27,8,1,2017,2017-01-08,23:47:27,23,23,47,27,True
133,https://ckd.upgrad.com/UpGrad/a33adab9-35b8-44...,2017-01-10 01:05:45,10,1,2017,2017-01-10,01:05:45,1,1,5,45,True
134,https://ckd.upgrad.com/UpGrad/22d61bd2-597a-43...,2017-01-07 22:55:43,7,1,2017,2017-01-07,22:55:43,22,22,55,43,True
141,https://ckd.upgrad.com/UpGrad/75849874-7723-4a...,2017-01-04 03:11:27,4,1,2017,2017-01-04,03:11:27,3,3,11,27,True
142,https://ckd.upgrad.com/UpGrad/7a64286b-a78c-4f...,2017-01-10 00:03:29,10,1,2017,2017-01-10,00:03:29,0,0,3,29,True
144,https://ckd.upgrad.com/UpGrad/567bfacb-48b0-42...,2017-01-09 21:20:33,9,1,2017,2017-01-09,21:20:33,21,21,20,33,True
150,https://ckd.upgrad.com/UpGrad/b67a4743-6796-4c...,2017-01-09 23:40:12,9,1,2017,2017-01-09,23:40:12,23,23,40,12,True
152,https://ckd.upgrad.com/UpGrad/a0b83a9b-f8b2-4a...,2017-01-07 11:31:44,7,1,2017,2017-01-07,11:31:44,11,11,31,44,True
162,https://ckd.upgrad.com/UpGrad/0387ccdd-a712-40...,2017-01-09 21:51:20,9,1,2017,2017-01-09,21:51:20,21,21,51,20,True
173,https://ckd.upgrad.com/UpGrad/9ad16586-65ca-4a...,2017-01-09 23:49:00,9,1,2017,2017-01-09,23:49:00,23,23,49,0,True
189,https://ckd.upgrad.com/UpGrad/5ab6d99a-aadd-40...,2017-01-09 22:31:37,9,1,2017,2017-01-09,22:31:37,22,22,31,37,True
191,https://ckd.upgrad.com/UpGrad/bab870d9-d191-4a...,2017-01-08 23:59:21,8,1,2017,2017-01-08,23:59:21,23,23,59,21,True
194,https://ckd.upgrad.com/UpGrad/a65694d0-339b-44...,2017-01-09 23:59:34,9,1,2017,2017-01-09,23:59:34,23,23,59,34,True
196,https://ckd.upgrad.com/UpGrad/2b9732ad-0985-4a...,2017-01-09 23:23:06,9,1,2017,2017-01-09,23:23:06,23,23,23,6,False

### ANS: 44

### QUES: On which date did the most students submit the assignment?

In [58]:
grades.head()

,submission,submit_time,day,month,year,date,time,hours,hour,minute,second,isZipSubmission
0,https://ckd.upgrad.com/UpGrad/73ba5189-94fd-44...,2017-01-03 20:28:52,3,1,2017,2017-01-03,20:28:52,20,20,28,52,True
1,https://ckd.upgrad.com/UpGrad/185242ff-7508-4c...,2017-01-03 20:18:21,3,1,2017,2017-01-03,20:18:21,20,20,18,21,True
2,https://ckd.upgrad.com/UpGrad/a353d129-c100-43...,2017-01-03 22:37:08,3,1,2017,2017-01-03,22:37:08,22,22,37,8,True
3,https://ckd.upgrad.com/UpGrad/002fc912-faa1-49...,2017-01-02 21:43:19,2,1,2017,2017-01-02,21:43:19,21,21,43,19,True
4,https://ckd.upgrad.com/UpGrad/25cbc4a4-6d49-4f...,2017-01-03 15:27:49,3,1,2017,2017-01-03,15:27:49,15,15,27,49,True

In [61]:
grades.groupby("date").count()

,submission,submit_time,day,month,year,time,hours,hour,minute,second,isZipSubmission
date,,,,,,,,,,,
2016-11-19,1,1,1,1,1,1,1,1,1,1,1
2016-12-19,1,1,1,1,1,1,1,1,1,1,1
2016-12-21,1,1,1,1,1,1,1,1,1,1,1
2016-12-28,2,2,2,2,2,2,2,2,2,2,2
2016-12-29,2,2,2,2,2,2,2,2,2,2,2
2016-12-30,6,6,6,6,6,6,6,6,6,6,6
2016-12-31,1,1,1,1,1,1,1,1,1,1,1
2017-01-01,6,6,6,6,6,6,6,6,6,6,6
2017-01-02,14,14,14,14,14,14,14,14,14,14,14
2017-01-03,120,120,120,120,120,120,120,120,120,120,120
2017-01-04,12,12,12,12,12,12,12,12,12,12,12
2017-01-06,1,1,1,1,1,1,1,1,1,1,1
2017-01-07,2,2,2,2,2,2,2,2,2,2,2
2017-01-08,3,3,3,3,3,3,3,3,3,3,3
2017-01-09,21,21,21,21,21,21,21,21,21,21,21
2017-01-10,3,3,3,3,3,3,3,3,3,3,3
2017-01-17,1,1,1,1,1,1,1,1,1,1,1
2017-02-03,1,1,1,1,1,1,1,1,1,1,1

### ANS: 2017-01-03

### QUES: In which hour of the day did most students submit the solution?

In [62]:
grades.groupby("hour").count()

,submission,submit_time,day,month,year,date,time,hours,minute,second,isZipSubmission
hour,,,,,,,,,,,
0,10,10,10,10,10,10,10,10,10,10,10
1,8,8,8,8,8,8,8,8,8,8,8
2,2,2,2,2,2,2,2,2,2,2,2
3,3,3,3,3,3,3,3,3,3,3,3
4,2,2,2,2,2,2,2,2,2,2,2
6,1,1,1,1,1,1,1,1,1,1,1
8,1,1,1,1,1,1,1,1,1,1,1
9,1,1,1,1,1,1,1,1,1,1,1
10,3,3,3,3,3,3,3,3,3,3,3
11,1,1,1,1,1,1,1,1,1,1,1
12,3,3,3,3,3,3,3,3,3,3,3
13,6,6,6,6,6,6,6,6,6,6,6
14,6,6,6,6,6,6,6,6,6,6,6
15,4,4,4,4,4,4,4,4,4,4,4
16,2,2,2,2,2,2,2,2,2,2,2
17,4,4,4,4,4,4,4,4,4,4,4
18,6,6,6,6,6,6,6,6,6,6,6
19,2,2,2,2,2,2,2,2,2,2,2
20,16,16,16,16,16,16,16,16,16,16,16
21,27,27,27,27,27,27,27,27,27,27,27
22,24,24,24,24,24,24,24,24,24,24,24
23,66,66,66,66,66,66,66,66,66,66,66

### ANS: 23